<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar sticky-top bg-primary">
      <div class="container-fluid">
        <a href="/">
          <img
            src="https://github.com/emilywotruba/dionysus/blob/main/logo.png?raw=true"
            style="height: 50px;padding-right: calc(var(--bs-gutter-x) * .5);"
          >
        </a>
        <form
          class="d-flex"
          role="search"
          action="./result"
          method="GET"
          style="max-width: calc(100% - 50px - var(--bs-gutter-x) * .5);"
        >
          <div class="input-group">
            <input
              name="name"
              type="search"
              class="form-control"
              placeholder="{{name}}"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <button
              type="submit"
              class="btn btn-outline-light"
              data-mdb-ripple-init
            >
              <svg 
                style="width: 20px;"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path 
                  fill="#ffffff"
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </nav>
    <div class="accordion" id="accordion">
      {% for i in [0,1] %}
        {% if i == 0 %}
          {% set data = providers_known %}
          <br/>
          <h1>My Providers</h1>
        {% elif i == 1 %}
          {% set data = providers_unknown %}
          <br/>
          <h1>Others</h1>
        {% endif %}
        {% for key in data %}
          {% set entry=data[key] %}
          <div class="accordion-item">
            <h2
              class="accordion-header"
              id="heading{{entry.provider_id}}"
              style="display: flex;"
            >
              <img
                src="{{entry.icon}}"
                style="height: calc(1.325rem + .9vw + 32px); border-radius: 25%;"
              />
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse{{entry.provider_id}}"
                aria-expanded="false"
                aria-controls="collapse{{entry.provider_id}}"
              >
                {{entry.provider_friendly}}
              </button>
            </h2>
            <div
              id="collapse{{entry.provider_id}}"
              class="accordion-collapse collapse"
              aria-labelledby="heading{{entry.provider_id}}"
              data-bs-parent="#accordion"
            >
              <div class="accordion-body">
                <table class="table">
                  <tr>
                    <th scope="col">Country</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Elements</th>
                  </tr>
                  {% for ctr in entry.countries %}
                  <tr>
                    <td scope="col">{{ctr.flag}} {{ctr.name}}</td>
                    <td>{{ctr.price}}</td>
                    <td>{{ctr.type}}</td>
                    <td>{{ctr.elements}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>
